body {
  position: relative;
  background: url('../images/background.png') center center;
  height: 100vh;
  width: 100%;
}
.body_content {
  margin-top: 80px;
}
.body_content div {
  padding: 20px 0 27px;
  text-align: center;
  margin: auto;
}
.select {
  background-color: #5290ca;

  border-radius: 10px;
  width: 315px;
  height: 75px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select a {
  font-size: 38px;
  color: #ffffff;
}

.select a:hover,
.select:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}
.mainLogo {
  margin-top: 50px;
}

.language {
  position: absolute;
  right: 60px;
  top: 15px;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-item,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}
.dropdown-menu {
  border: none;
}
.languages_icon {
  width: 35px;
}
.sdelay {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .mainLogo {
    width: 300px;
  }
  .sdelay {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .mainLogo {
    width: 500px;
  }
  .sdelay {
    width: 650px;
  }
}

@media (min-width: 992px) {
  .mainLogo {
    width: 500px;
  }
  .sdelay {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .mainLogo {
    width: 500px;
  }
  .sdelay {
    width: 750px;
  }
}
