<!DOCTYPE html>
<html>
  <head>
    <title>Universities</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/universities.css" />
    <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <div id="root">
      <nav class="navigation">
        <div class=" navigation_content">
          <a href="./"><img src="images/MainLogo.png" height="55" alt=""/></a>
          <input type="text" class="searchInput" autocomplete="off" name="search" placeholder="Search..">
          <a href="#!" class="navigation_content_title 	d-none d-md-block ">Абитуриенту</a>
          <div class="dropdown language">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ lang }}
              <img class="languages_icon" v-bind:src="lang_img" alt="" />
            </button>
            <div class="dropdown-menu">
              <button
                v-show="lang != 'Qaz'"
                v-on:click="changeLanguage('qaz')"
                class="dropdown-item"
                href="#"
              >
                Qaz
                <img class="languages_icon" src="images/lang/qaz.png" alt="" />
              </button>
              <button
                v-show="lang != 'Eng'"
                v-on:click="changeLanguage('eng')"
                class="dropdown-item"
                href="#"
              >
                Eng
                <img class="languages_icon" src="images/lang/eng.png" alt="" />
              </button>
              <button
                v-show="lang != 'Рус'"
                v-on:click="changeLanguage('rus')"
                class="dropdown-item"
                href="#"
              >
                Рус
                <img class="languages_icon" src="images/lang/rus.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </nav>
      <div  id='main_content' class="main_content">     
         <div  v-bind:style="{ display: mapDisplay}" id="map">
           <div v-for="city in filteredCity" :key="cities.Id">
              <button v-on:click="selectCity(city)" class="mapPlacemark" :class="[city.name_eng]">
                  {{city.universities}}
                </button>
           </div>
      </div>
      <div class="search">
        <div class="form-group">
          <input type="text" class="js-input-to form-control" value="0" />
        </div>
      </div>
      <div class="filter" v-if="filter">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Выберите город</label>
          <select :disabled="select.city" class="form-control" @change="filteredCity()" v-model="citySelect" id="exampleFormControlSelect1">
              <option value="all">
                  все города
                </option>
            <option v-for="city in cities" v-bind:value="city.name_eng">
              {{ city.name_rus }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Факультет </label>
          <select class="form-control"  id="exampleFormControlSelect1">
            <option
              v-for="specialtyName in specialty"
              v-bind:value="specialtyName.name_rus"
            >
              {{ specialtyName.name_rus }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Язык обучения</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Казахский</option>
            <option>Русский</option>
            <option>Английский</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Цена</label>

 
        <div class="wrapper">
          <div class="range-slider">
              <input type="text" class="js-range-slider" value="" />
          </div>
            <hr>
          <div class="extra-controls form-inline">
            <div class="form-group">
              <input type="text" class="js-input-from form-control" value="0" />
              <input type="text" class="js-input-to form-control" value="0" />
          </div>
            </div>
          </div>
        </div>
        <br>
        <label class="checkbox_container"
          >Общежитие
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="checkbox_container"
          >Военная кафедра
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <label class="checkbox_container"
          >Гранты
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <button  v-bind:style="{ display: backbtn}" v-on:click="backBtn" class="backBtn"> <i class="fas fa-chevron-left"></i> Назад</button>
        </div>
        <div class="info"  v-if="!filter">
          <div class="infoBody">
            <!-- <button class="closeBtn"><i class="fas fa-times"></i></button> -->
            <h3 class="info_title">{{this_universities.name}}</h3>
            <div class="info_section">
              <p class="info_section_text">{{this_universities.address}}</p>
              <p class="info_section_text">Телефон: <a href="tel:">{{this_universities.telephone}}</a></p>
              <p class="info_section_text">Сайт: <a target="_blank" v-bind:href="this_universities.webSite">{{this_universities.webSite}}</a></p>
            </div>
            <div class="info_section2">
              <p class="info_section2_text">Минимальная стоимость: <span>{{this_universities.minPrice}}₸</span></p>
              <p class="info_section2_text">Языки обучения: <span>{{this_universities.learningLanguages}} </span> </p>
            </div>
            <div  class="info_section3">
              <button class="checkboxBtn"  v-on:click="warn('1', $event)">
                <label  class="checkbox_container info_section3_checkbox"
                >Общежитие
                <input type="checkbox" v-model="this_universities.hostel" disabled/>
                <span class="checkmark"></span>
              </label>
              </button>
              <button class="checkboxBtn"  v-on:click="warn('2', $event)">
            <label class="checkbox_container info_section3_checkbox"
              >Военная кафедра
              <input type="checkbox"  v-model="this_universities.militaryDepartment" disabled/>
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="checkboxBtn" v-on:click="warn('3', $event)">
            <label  class="checkbox_container info_section3_checkbox"
              >Гранты
              <input type="checkbox"  v-model="this_universities.grants" disabled />
              <span class="checkmark"></span>
            </label>
          </button>
            </div>
            <div class="info_section4">
              <div class="row buttons">
                <div class="col-6"><button class="videoBtn">Видео</button></div>
                <div class="col-6"><button class="photoBtn">Фото</button></div>
              </div>
              
            </div>
            <div>
              <button class="compareBtn">Добавить к сравнению</button>
            </div>
            <button  v-bind:style="{ display: backbtn}" disabled v-on:click="infoBodyBackBtn" class="backBtn"> <i class="fas fa-chevron-left"></i> Назад</button>
          </div>
        </div>
        <div class="moreInfo" v-bind:style="{ display: militaryDepartment}">
            <h3>Военная кафедра</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae molestiae laudantium qui corrupti impedit labore nihil et at necessitatibus.</p>
        </div>
        <div class="moreInfo" v-if="moreInfo.grants">
            <h3>Гранты</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae molestiae laudantium qui corrupti impedit labore nihil et at necessitatibus.</p>
        </div>
        <div class="moreInfo" v-if="moreInfo.hostel">
            <h3>Общежитие</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae molestiae laudantium qui corrupti impedit labore nihil et at necessitatibus.</p>
        </div>
      </div>
    </div>

    
      <a target="_blank" class="vk" href="https://vk.com"><i class="fab fa-vk"></i></a>
      <a target="_blank" class="insta" href="https://www.instagram.com/unicol.kz/"><i class="fab fa-instagram"></i></a>
      <a target="_blank" class="youtube" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    </div>
    <script src="js/universities.js"></script>
    <script src="js/priceRange.js"></script>
  </body>
</html>
